body{
    background-color: aquamarine;
    margin: 0px;
}
.header {
    /* border: 2px solid red; */
    margin-top: 35px;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.heading{
    margin: 0vh 0.2em;
}

.buttons{
    margin-top: 30px;
    /* border: 2px solid green; */
    padding: 1vh;

/* 
    height: 250px;
    width: 400px; */

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
.btn{
    padding: 13px 23px;
    margin: 2vw 2vw;
    text-align: center;
    border-radius: 10%;
    background-color: rgb(141, 200, 181);

    border: 0px;
    
}

#result{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#mym{
    /* display: flex; */
    
    font-weight: 600;
    font-size: 200%;
    padding: 10px;
    
    /* text-align: center; */
}
#mymInfo{
    margin-left: 1.5vw;
    font-weight: 400;
    font-size: 120%;
    /* border: 2px dotted yellow; */
}


#scores{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    /* border: 2px solid pink; */
    font-size: 20px;
    font-weight: 500;
    gap: 20px;
}
#score{
    /* border: 2px dashed gray; */
    display: flex;
}

#comScrBtn,
#humScrBtn{
    padding: 1px;
    height: 25px;
    width: 25px;
    background-color: rgb(162, 203, 144);
    /* border: 2px solid red; */
    border: 0px;
    border-radius: 10%;
}

#infoAboutGame{
    display: flex;
    justify-content: center;    
}



























